@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

body {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,
.btn_link, nav a, footer a {
  font-family: 'Fira Sans', sans-serif;
}

a, a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn_link {
  text-decoration: none;
  padding: 15px 24px;
  border-radius: 6px;
  display: inline-block;
  background-color: #91f1f5;
  color: #1c6265;
  font-weight: bolder;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.btn_controls_wrapper {
  display: flex;
  padding: 15px;
  text-align: right;
  background-color: #FFF;
  border-bottom: solid 3px #00f7ff;
  margin-bottom: 35px;
  justify-content: flex-end;
}

.btn_controls_wrapper .counter {
  margin: auto auto auto 0px;
  padding: 10px 12px;
  border-radius: 6px;
  background-color: #dcf8f9;
  border-radius: 500px;
  font-weight: bold;
}

.counter i {
  margin-right: 5px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-body {
  flex: 1;
}

.home-header {
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header h1 {
  font-size: 40px;
  max-width: 640px;
  padding: 15px;
  text-align: left;
}

.home-body {
  background: #91f1f5 url("./images/hunter-students-steps-banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 85px;
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
}

.home-body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  opacity: 0.32;
  z-index: -1;
}

.home-body h1 {
  color: #FFF;
  text-shadow: 0px 0px 25px #111;
  font-size: 35px;
  margin-bottom: 15px;
}

.get-started-link-wrapper .btn_link {
  margin-left: 5px;
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 8px 10px -5px #ddd;
  position: relative;
}

nav a {
  padding: 20px 8px;
  text-decoration: none;
  font-weight: bolder;
  color: #67678a;
  margin: 3px;
}

.list_all {
  padding-bottom: 45px;
}

.item_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.large_list .item_sm {
  padding: 35px 35px;
  text-align: center;
  background-color: #FFF;
  margin: 2.5px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 25px -10px #aaa;
}

.item_sm .edit {
  display: block;
  font-size: 15px;
  padding: 7px;
  font-weight: bolder;
  margin-top: 7px;
  text-transform: UPPERCASE;
}

.large_list .item_sm a {
  color: #1c6265;
}

.large_list .item_sm .name {
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 15px;
}

.editForm-wrapper {
  max-width: 480px;
  margin: 65px auto;
}

.editForm-wrapper h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

.form {
  margin: auto;
  background-color: #FFF;
  box-shadow: 0px 10px 25px -5px #aaa;
  border-top: solid 6px #ec9fce;
  position: relative;
  border-radius: 6px;
}

.form .input_wrapper {
  width: 85%;
  margin: auto;
  position: relative;
  padding: 15px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  border: solid 3px #91f1f5;
  padding: 12px 12px;
  display: block;
  font-size: 20px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}

.form label {
  display: block;
  font-size: 15px;
  padding: 6px;
}

footer {
  background-color: #f3f3f3;
  padding: 35px 35px;
}

footer a {
  font-size: 18px;
  padding: 12px 8px;
  color: #888;
}

.error {
  background-color: #FFF;
  border-radius: 6px;
  padding: 25px 15px;
  text-align: center;
  max-width: 320px;
  display: block;
  margin: auto;
  font-weight: bolder;
  border-top: solid 6px #e91e1e;
  box-shadow: 0px 4px 25px -10px #121212;
}

.btn_controls_wrapper.sm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: none;
  border-top: solid thin #DDD;
  padding-top: 20px;
}

.error_sm {
  color: #e91e1e;
  margin: auto;
}

.home_link {
  margin: auto auto auto 0px;
}

.single_item_wrapper {
  max-width: 720px;
  margin: 45px auto;
  padding: 25px 15px;
}

.single_item_wrapper h1 {
  font-size: 35px;
}

.single_item_wrapper .details {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 0px;
}

.single_item_wrapper .details .email {
  margin-right: 5px;
}

.single_item_wrapper .details p {
  font-weight: bolder;
  padding: 8px 8px;
  font-size: 14px;
  border-radius: 0px;
  border-bottom: solid 3px #91eaea;
  color: #035656;
  font-family: 'Fira Sans', sans-serif;
}

.single_item_wrapper .large_list {
  padding-top: 25px;
  padding-bottom: 25px;
}

.single_item_wrapper .large_list .item_list {
  justify-content: flex-start;
  padding-top: 25px;
}

.btn_link.delete {
  color: #e91e1e;
  background-color: transparent;
  margin-left: 5px;
}

.btn_controls_single i,
.home_link i {
  margin-right: 5px;
}

.btn_link.cancel {
  margin-left: 5px;
  background-color: transparent;
  color: #333;
}

.btn_link.large {
  color: #888;
  background-color: transparent;
  font-size: 25px;
}

.home-body-text div.cta_wrapper {
  text-align: center;
}

.home-body-text {
  padding: 105px 15px;
  margin: auto;
  max-width: 900px; 
}

.home-body-text h1 {
  font-size: 35px;
}

.home-body-text div {
  padding: 45px 15px;
}

.home-body-text p {
  padding: 35px 0px 15px;
  max-width: 480px;
  line-height: 25px;
}

.home-body-text div:nth-of-type(even) {
  text-align: right;
}

.home-body-text div:nth-of-type(even) p {
  margin-right: 0px;
  margin-left: auto;
}